<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../style.css" rel="stylesheet" />
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard-page-container">
        <div class="dashboard-label">
            <h1>Dashboard</h1>
        </div>
            <div>
                <p class="lead mb-3 dashboard-welcome-text">Welcome
                <span class="dashboard-display-name">  <%= name %> </span>
                </p>
            </div>
            <button class="single-btn logout-btn">
                <a href="/users/logout" class="btn btn-secondary logout-btn-link">Logout</a>
            </button>
    </div>
</body>
</html>





